$theme: #f38c2a;
$font: gray;
%background {
  background-size: 100% 100%;
}
%intro {
  padding-top: 116px;
  padding-left: 135px;
}
body {
    min-width:600px;
  .blue-navbar {
    background-color: #259fe9;
    margin-bottom: -8px;

    img {
      width: 10px;
      height: 10px;
      margin-left: 480px;
    }
    h6 {
      padding-top: 18px;
      padding-bottom: 18px;
      color: white;
      padding-left: 90px;
    }
  }
  .title-bar {
    menu-icon {
      float: right;
    }
  }
  .top-bar {
    background-color: black;
    color: white;

    ul {
      background-color: black;
      float: right;
      padding-right: 90px;
      position: relative;
      li {
        padding-right: 19px;
        a {
          color: white;
        }
      }
      button {
        color: white;
        background-color: #f38c2a;
        position: absolute;
        height: 54px;
        width: 110px;
        margin-top: -8px;
        padding-left: 3px;
        margin-left: 7px;
        font-size: 13px;
        padding-right: 9px;
      }
    }
  }
  .intro {
    background-size: 100% 100%;
    background-image: url("../photos/render.jpg");
    color: white;
    height: auto;
    

    .inputs {
      padding-top: 33px;
    }

    .one {
      p {
        @extend %intro;
        font-size: 29px;
        
      }
      button {
        margin-left: 135px;
        background-color:white;
        color:black;
        width: 183px;
        height: 57px;
        border-radius: 39px;
      }
    }
    .two {
      form {
        margin-top:182px;
        color:#C7C8C8;
        background-color:white;
        margin-right: 20px;

        .dream{
            padding-left: 123px;
        }

        p {
          margin-bottom: 3px;
          margin-top: 34px;
        }

        button {
          background-color: #f38c2a;
          color: white;
          height: 41px;
          margin-bottom: 15px;
          width: 192px;
          letter-spacing: 4.5px;
        }

        .find {
          background-color: $theme;
        }
      }
    }
  }
  .ruaka {
    .one {
      padding-top: 64px;
      padding-left: 120px;
      p {
        padding-top: 19px;

        color: $font;
      }
      button {
        color: $font;
        background-color: white !important;
        border: 2px solid grey;
        width: 230px;
        height: 42px;
        border-radius: 21px;
        margin-top: 12px;
      }
    }
    .two {
    //   background-image: url("../photos/sketch.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      
      
    }
  }
  .lorem {
    background-color: #022927;
    color: white;
    padding-top: 63px;
    padding-bottom: 31px;
    padding-left: 96px;
    margin-top: 30px;
    text-align: center;
    
    label {
      color: white;
    }
    .price {
    //   padding-top: 47px;
    //   padding-left: 83px;
    //   padding-bottom: 40px;
    justify-content: center;
   
      input {
        color: #011b1a;
        background-color: #011b1a;
        border: 1px solid #011b1a;
      }
    }

    .fas {
      color: black;
      margin-right: -10px;
      margin-top: 10px;
    }
    .icon {
      width: 57px;
      height: 38px;
      margin-top: 24px;
      background-color: white;
      border-radius: 4px;
    }
  }
  .content {
    height: auto;
    margin-top: 45px;
    color:white;
    text-align: center;
    
    .content-info{
       
    height: 300px; 
    padding-top: 74px;

    }
    .amara {
      background-image: url("../photos/amara.jpg");
      background-color: rgba(0,0,0,0.5);
      @extend %background;

    }
    .amara:hover{
        background: #951D39;
    }
    .situ {
      background-image: url("../photos/situ.jpg");
      
      @extend %background;
    }
    .situ:hover{
        background: #951D39; 
    }
    .alma{
      background-image: url("../photos/alma.jpg");
      @extend %background;
    }
    .alma:hover{
        background: #951D39;
    }
  }
  .cards {
    padding-top: 60px;

    .card{
        border:none;
    }
    p {
      font-size: 15px;
    }
    .jan {
      font-size: 10px;
    }
  }
  .maximize {
    background-image: url("../photos/maximize.jpeg");
    @extend %background;
    background-image: linear-gradient(to right, rgb(92, 95, 92), rgba(241, 168, 11, 0.52)), url("../photos/maximize.jpeg");
    
    margin-top: 29px;
    padding-left: 186px;
    padding-top: 43px;
    button {
      background-color: white;
      width: 202px;
      height: 53px;
      border-radius: 21px;
      margin-bottom: 37px;
    }
    p {
      font-size: 40px;
      color: white;
      padding-top: 18px;
    padding-bottom: 7px;
    }
  }
  .subscribe {
    background-color: #F0F1F2;
    padding-top: 25px;
    padding-bottom: 24px;
    text-align: center;

    .sub{
        justify-content: center;
    }

    
    button {
      color: white !important;
      width: 151px;
      height: 40px;
      font-weight: bold;
      background-color: #a4d464 !important;
    }
    
   
  }
  .process {
    background-color: #a4d464 !important;
    background-image: linear-gradient(to right top, #238b68,#238b68,#238b68,#98cd65, #98cd65);
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: white;

    .simple{
       
        font-size: 30px;
        font-weight: bold;
    }
    i {
      color: white;
    }
  }
  .footer {
    background-color: #111213;
    color: white;
    padding-top: 37px;
    padding-left: 78px;
    border-bottom: 1px solid gray;

    h5 {
      color: #7bc04e;
      font-size: 15px;
    }
    h6 {
      font-size: 13px;
    }
    ul {
      list-style: none;
      li {
        font-size: 12px;
      }
    }
  }
  .social {
    background-color: black;
    text-align: center;
    i {
      border-radius: 40px;
      min-width: 50px;
      min-height: 50px;
      border: 1px solid hsla(0, 0%, 100%, 0.7);
      text-align: center;
      line-height: 49px;
      color: #a8a8a8;
      margin-right: 25px;
      margin-top: 10px;
    }
    ul {
      li {
        display: inline-block;
      }
    }
  }
}
